.btn {
  padding: 6px 14px;
  margin: 0 8px;
  background-color: $primary-color;
  color: $white_color;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  outline: none;
  transition: background-color .5s ease;
  text-transform: uppercase;
  font-weight: 500;
  @include shadow;

  &:hover {
    background-color: $background_secondary;
  }
}