.controls {
  border: 4px solid #253a4c;
  border-radius: 8px;
  padding: 30px 10px;
  background-color: #e6e9ed;
  @include shadow;

  &__instructions {
    text-align: left;

    &-title {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.8;
      letter-spacing: 0.05071em;
      color: $text_color;
    }

    &-item {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.43;
      letter-spacing: 0.02071em;
      color: $text_color;
    }
  }

  &__input {
    margin-top: 20px;

    &-label {
      text-align: center;
      justify-content: center;
    }

    &-in {
      box-sizing: border-box;
      width: 100px;
      height: 50px;
      margin: 0 auto;
      display: block;
      font-size: 40px;
      outline: none;
      border: none;
      text-align: center;
      color: $primary_color;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        border: 1px solid $primary_color;
      }
    }
  }

  &__buttons {
    margin-top: 20px;
  }
}