.container-queue {
  background-color: $background-secondary;
  height: 100vh;
  justify-content: center;


  &__title {
    background-color: $background-secondary;
    text-align: center;
    padding: 10px 0;
    color: $white_color;
  }

  &__list {
    width: 80%;
    margin: 0 auto;
  }
}