.container-queue {
  background-color: $background-secondary;
  height: 100vh;
  justify-content: center;


  &__title {
    background-color: $background-secondary;
    text-align: center;
    padding: 20px 0;
    color: $white_color;
    border-bottom: 2px solid $primary-color;
  }

  &__list {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
  }
}