@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@import './components/variables';
@import './components/mixin';
@import './components/html_elements';
@import './components/layout';
@import './components/buttons';
@import './components/queue';
@import './components/client';
@import './components/hero';
@import './components/machine';
@import './components/controls';

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

